/** Basic Style**/

body {
    background: #f6f6f6;
	font-family: 'Open sans', helvetica, arial, sans-serif,verdana; 
	font-size: 13px;
	font-weight: 200;
}
.container{ margin-bottom: 30px}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato',arial,helvetica,sans-serif,verdana;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
a:hover, a:active{
	color: #1abc9c;
	text-decoration: none;
}
/*------------------------------------*/
/* Header 
/*------------------------------------*/
header {
    background-color: #444;
    height: 45px;
    overflow: hidden;
    position: relative;
    width: 100%;	
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	z-index: 999;
}
header .logo {
    display: block;
    font-family: 'Open sans',halvetica,arial,sans-serif,verdana;
    font-size: 45px;
    font-weight: 900;
    position: relative;
}
header .logo h1 {
    font-size: 18px;
    margin: 10px auto;
}
header .logo a {
    color: #19BD9B;
    letter-spacing: 0;
    text-transform: uppercase;
}
header a{ color: #19BD9B}
header a:hover{ 
	color: #1abc9c !important;
}
header #top-bar {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
header  #top-bar .item-bag li {
    float: right;
}
header .navbar-nav > li > a {
    display: block;
    padding: 10px;
}
header {}

header #main-navigation a {
    border-radius: 0;
    font-family: 'Lato',arial,helvetica,sans-serif,verdana;
    font-size: 13px;
    font-weight: 700;
    padding: 30px 20px;
    text-transform: uppercase;
}
header #main-navigation .nav-main > li:first-child > a {
    padding-left: 15px;
}
header #main-navigation .search-block {
    position: relative;
    top: 22px;
}
header #main-navigation .btn-default {
    background-color: rgba(0, 0, 0, 0);
    border-color: #5B5B5B;
    color: #6B6B6B;
}
h2.tilte {
    border-top: 1px solid #e6e6e6;
    margin: 20px 0;
    padding-top: 25px;
    text-transform: uppercase;
}
h1#title-page {
    display: inline-block;
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

#slide{
	position: relative;
	height: 450px;
	overflow: hidden;
}
#slide .bx-wrapper img{
	height: 406px;
}

#project-heading{}
#project-heading{}
#project-heading p {
    line-height: 1.5em;
    margin-bottom: 20px;
    text-align: justify;
}
#project-heading h3.project-title {
    font-size: 18px;
    margin-top: 6px;
	margin-bottom: 10px;
}
#project-heading ul li a {
    color: #444;
    display: inline-block;
    font-weight: 700;
    margin-left: 8px;
    margin-top: 8px;
}

#project-heading h3.project-title{}